# Default ignored files
/../../2./.idea/shelf/
/../../2./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../2./.idea/httpRequests/
# Datasource local storage ignored files
/../../2./.idea/dataSources/
/../../2./.idea/dataSources.local.xml
