<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryuukee.reptiledemo.mapper.ZhihuArticleMapper">

    <insert id="insertArticle" parameterType="com.ryuukee.reptiledemo.entity.ZhihuArticle">
        INSERT INTO zhihu_article (title, content)
        VALUES (#{title}, #{content})
    </insert>

    <insert id="insertHotSearch" parameterType="com.ryuukee.reptiledemo.entity.ZhihuHot">
    insert into zhihu_hot(query,hot_show)
    values (#{query},#{hot_show})
    </insert>

</mapper>
